@model DoAnChuyenNganhConnection.AspNetUser
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<style>
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    /*div {
        border-radius: 5px;
        background-color: #f2f2f2;

        margin: auto;
    }*/
</style>

<div style=" padding: 20px;">
    @using (Html.BeginForm("Edit", "AccountAdmin", FormMethod.Post, new
    {

    }))
    {

        <label for="fname">Mã </label>
        <input type="text" id="fname" name="Id" placeholder="Nhập mã nhà sản xuất" required value="@Model.Id">

        <label for="lname">Tên </label>
        <input type="text" id="lname" name="Name" placeholder="Nhập tên nhà sản xuất" required value="@Model.Name">

        <label for="lname">Email</label>
        <input type="text" id="lname" name="Email" placeholder="Nhập tên nhà sản xuất" required value="@Model.Email">

        <label for="lname">PasswordHash</label>
        <input type="text" id="lname" name="PasswordHash" placeholder="Nhập tên nhà sản xuất" required value="@Model.PasswordHash">

        <label for="lname">Email</label>
        <input type="text" id="lname" name="UserName" placeholder="Nhập tên nhà sản xuất" required value="@Model.UserName">

        <input type="submit" value="Submit">
    }
</div>

