<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />





    <title>Store LapTop HLT | Chuyên cung cấp những dòng Laptop chính hãng</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Asset/css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    @Styles.Render("~/Asset/css/style.css")


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="~/Asset/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="fonts/font-slider.css" type="text/css">
    <link rel="stylesheet" href="~/Asset/font-awesome/css/font-awesome.css" type="text/css">


    <!-- jQuery and Modernizr-->
    <script src="~/Asset/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="~/Asset/js/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <!--Top-->
    <nav id="top">
        <div class="container">
            <div class="row">

                <div class="col-xs-6">
                    <ul>
                        <li>
                            <a class="play-icon popup-with-zoom-anim" href="#small-dialog1">
                                <span class="fa fa-map-marker" aria-hidden="true"></span> Shop Locator
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal1">
                                <span class="fa fa-truck" aria-hidden="true"></span>Track Order
                            </a>
                        </li>
                        <li>
                            <span class="fa fa-phone" aria-hidden="true"></span> 0866545300
                        </li>
                        <li>
                            <a href="@Url.Action("Login","Account")">
                                <span class="fa fa-unlock-alt" aria-hidden="true"></span> Sign In
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Register","Account")">
                                <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Sign Up
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--Header-->
    
    <!--Navigation-->
    <nav id="menu" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <span id="heading" class="visible-xs">Categories</span>
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index","Products")" class="dropdown-toggle" data-toggle="dropdown">PC Computers</a>
                        
                    </li>
                   
                    
                </ul>
            </div>
        </div>
    </nav>
    <!--//////////////////////////////////////////////////-->
    <!--///////////////////HomePage///////////////////////-->
    <!--//////////////////////////////////////////////////-->
    @RenderBody()
    <footer>
        <div class="container">
            <div class="wrap-footer">
                <div class="row">
                    <div class="col-md-3 col-footer footer-1">
                        
                        <p><strong>HLT Store - Chuyên cung cấp các dòng Laptop chính hãng</strong></p>
                    </div>
                    <div class="col-md-3 col-footer footer-2">
                        <div class="heading"><h4>Customer Service</h4></div>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-footer footer-4">
                        <div class="heading"><h4>Contact Us</h4></div>
                        <ul>
                            <li><span class="glyphicon glyphicon-home"></span>Thành phố Hồ Chí Minh</li>
                            <li><span class="glyphicon glyphicon-earphone"></span>+84 866545300</li>
                            <li><span class="glyphicon glyphicon-envelope"></span>huyd4202@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
