@model StoreLaptopApp.Models.StoreEntities.Cart
@using System.Globalization;
@{
    ViewBag.Title = "ShowToCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowToCart</h2>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sum</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                double total = item.Product.Price * item.Quantity;
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Product.Name)
                </td>
                
                <td>
                    <img src="~/Content/images/@item.Product.Cover" style="width: 200px; height: 100px;" />
                </td>
                <td>
                    @string.Format(new CultureInfo("vi-VN"), "{0:#,##0}", item.Product.Price) VNĐ
                </td>
                <td>
                    @using (Html.BeginForm("UpdateQuantityCart", "ShoppingCart"))
                    {
                        <input type="hidden" value="@item.Product.Id" name="ID_Product" />
                        <input type="number" value="@item.Quantity" min="0" name="Quantity" />
                        <input type="submit" value="Update_Quantity" />
                    }
                </td>
                <td>
                    Total: @string.Format(new CultureInfo("vi-VN"), "{0:#,##0}", total)
                </td>
                <td>
                    <a href="/ShoppingCart/RemoveItem/@item.Product.Id">Remove</a>
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" style="text-align:right">Sum Total: @Model.Total_Modey()VNĐ</td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:right">
                    @using (Html.BeginForm("CheckOut", "ShoppingCart"))
                    {
                        <input type="submit" value="CheckOut" class="btn btn-success" />
                    }
                </td>
            </tr>
        </tfoot>
    </table>
    <a href="@Url.Action("Index","Home")">Continue to Shopping</a>
}
