@model IEnumerable<DoAnChuyenNganhConnection.Producer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>NHASANXUAT</h2>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin:auto;
        
    }

    th, td {
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #04AA6D;
        color: white;
    }
</style>

  

<table>
    <tr>
        <th>Mã nhà sản xuất</th>
        <th>Tên nhà sản xuất</th>
        <th>Tình Trạng</th>
        <th colspan="2">
            <a href="@Url.Action("Create","ProducerAdmin")"><img src="~/Content/images/add.png" /></a>
        </th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.IdProducer</td>
            <td>@item.NameProducer</td>
            <td>@item.Status</td>
            <td>
                <a href="@Url.Action("Edit","ProducerAdmin",new { id= @item.IdProducer})"><img src="~/Content/images/edit.png" /></a>
            </td>
            <td>
                <a href="@Url.Action("Delete","ProducerAdmin",new { id= @item.IdProducer})"><img src="~/Content/images/delete.png" /></a>
            </td>
        </tr>

    }
</table>

