@model DoAnChuyenNganhConnection.Product
@using System.Globalization;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Content/images/subbanner2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>LAPTOP HLT</h2>
                    <div class="breadcrumb__option">
                        @Html.ActionLink("Home", "Index", "Home")
                        @Html.ActionLink("LAPTOP", "Index", "Product")
                        <span>LAPTOP HLT</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="~/Content/images/@Model.Cover" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="/Content/img/product/details/product-details-2.jpg"
                             src="~/Content/images/@Model.Cover" alt="">
                        <img data-imgbigurl="~/Content/img/product/details/product-details-3.jpg"
                             src="~/Content/images/@Model.Cover" alt="">
                        <img data-imgbigurl="~/Content/img/product/details/product-details-5.jpg"
                             src="~/Content/images/@Model.Cover" alt="">
                        <img data-imgbigurl="~/Content/img/product/details/product-details-4.jpg"
                             src="~/Content/images/@Model.Cover" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Name</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
                    @*<div class="product__details__price">@Model.Price</div>*@
                    <h5>@string.Format(new CultureInfo("vi-VN"), "{0:#,##0}", Model.Price)<span>VNĐ</span></h5>
                    <p>
                        Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam
                        vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet
                        quam vehicula elementum sed sit amet dui. Proin eget tortor risus.
                    </p>
                    <div class="product__details__quantity">
                        @if (User.Identity.IsAuthenticated)
                        {

                            <input type="hidden" name="masp" value="@Model.Id" />
                            <input type="hidden" name="tensp" value="@Model.Name" />
                            <input type="hidden" name="giasp" value="@Model.Price" />
                            <label>Số lượng:</label><input class="form-inline quantity" type="number" value="1" min="1" max="1000" name="soluong" />
                            
                            <a href="/ShoppingCart/AddToCart/@Model.Id">Thêm vào giỏ hàng</a>

                        }
                        else
                        {
                            <span>Vui lòng đăng nhập để thêm giỏ hàng </span>

                        }
                    </div>

                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                        <li><b>Availability</b> <span>In Stock</span></li>
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li><b>Weight</b> <span>0.5 kg</span></li>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Reviews<span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Đánh giá sản phẩm</h2>
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            @*<div class="row">*@
            <div class="col-lg-12" style="border:solid">

                @Html.Action("Index", "Comment", new { masp = Model.Id })

            </div>
        }
        else
        {
            <span>Vui lòng đăng nhập để bình luận </span>

        }
    </div>
    @*</div>*@
</section>
<!-- Related Product Section End -->
